<img src="./assets/about/lukas.jpg" alt="Lukas Maurer" width="25%">
<h3><strong>Lukas Maurer</strong> is a fantasy illustrator specialized in traditional media.</h3>
<p>
Growing up in Munich, Lukas early discovered a deep fascination for the natural world of the past, present and future.<br>
Once he came into contact with the works of fantasy artists like Les Edwards, Quinton Hoover and Uğurcan Yüce a life long passion for the genre was instantly ignited.<br>
Nowadays he pulls inspiration from a variety of sources ranging from paleobiology to pop culture in order to create his work.
</p>
<p>
If he's not drawing or painting you can catch him play basketball or djing at a local venue.
</p>
