<ix-typography format="h2">Sketch cards</ix-typography>
<gallery
    [galleryName]="'sketchCards'"
    [flexBorderSize]="8"
    [flexImageSize]="16"
    >
</gallery>

<ix-typography format="h2">Science Fiction & Fantasy</ix-typography>
<gallery
    [flexBorderSize]="8"
    [flexImageSize]="16"
    >
</gallery>
<div class="pictures-container">
<ix-typography format="h2">Sketch cards</ix-typography>
<picture>
    <source srcset="./assets/img/gallery/sketchCards/preview_xs/90s-raptor.jpg" type="image/jpeg">
    <img src="./assets/img/gallery/sketchCards/raw/90s-raptor.jpg" alt="90s raptor">
</picture>

<picture>
    <source srcset="./assets/img/gallery/sketchCards/preview_xs/devastator_topps_star_wars_2025_smugglers_outpost.jpg" type="image/jpeg">
    <img src="./assets/img/gallery/sketchCards/raw/devastator_topps_star_wars_2025_smugglers_outpost.jpg" alt="Smugglers outpost sketch card">
</picture>

<picture>
    <source srcset="./assets/img/gallery/sketchCards/preview_xs/kobe.jpg" type="image/jpeg">
    <img src="./assets/img/gallery/sketchCards/raw/kobe.jpg" alt="Kobe sketch card">
</picture>

<picture>
    <source srcset="./assets/img/gallery/sketchCards/preview_xs/swcc-art-for-a-cause-2026-vader.jpg" type="image/jpeg">
    <img src="./assets/img/gallery/sketchCards/raw/swcc-art-for-a-cause-2026-vader.jpg" alt="Vader sketch card">
</picture>

<picture>
    <source srcset="./assets/img/gallery/sketchCards/preview_xs/padme.jpg" type="image/jpeg">
    <img src="./assets/img/gallery/sketchCards/raw/padme.jpg" alt="Padme sketch card">
</picture>

<ix-typography format="h2">Science Fiction & Fantasy</ix-typography>
<picture>
    <source srcset="./assets/portfolio/moria-orc.webp" type="image/webp">
    <img src="./assets/portfolio/moria-orc.png" alt="Moria orc">
</picture>

<picture>
    <source srcset="./assets/portfolio/coruscant.webp" type="image/webp">
    <img src="./assets/portfolio/coruscant.png" alt="Coruscant">
</picture>

<picture>
    <source srcset="./assets/portfolio/wurms-eye-helmet.webp" type="image/webp">
    <img src="./assets/portfolio/wurms-eye-helmet.jpg" alt="Wurms eye helmet">
</picture>

<picture>
    <source srcset="./assets/portfolio/k-2so.webp" type="image/webp">
    <img src="./assets/portfolio/k-2so.jpg" alt="K-2SO">
</picture>

<picture>
    <source srcset="./assets/portfolio/princess.webp" type="image/webp">
    <img src="./assets/portfolio/princess.png" alt="Princess">
</picture>
</div>
