<gallery
    [flexBorderSize]="8"
    [flexImageSize]="16"
    >
</gallery>
<div class="pictures-container">
<picture>
    <source srcset="./assets/portfolio/moria-orc.webp" type="image/webp">
    <img src="./assets/portfolio/moria-orc.png" alt="Moria orc">
</picture>

<picture>
    <source srcset="./assets/portfolio/coruscant.webp" type="image/webp">
    <img src="./assets/portfolio/coruscant.png" alt="Coruscant">
</picture>

<picture>
    <source srcset="./assets/portfolio/wurms-eye-helmet.webp" type="image/webp">
    <img src="./assets/portfolio/wurms-eye-helmet.jpg" alt="Wurms eye helmet">
</picture>

<picture>
    <source srcset="./assets/portfolio/k-2so.webp" type="image/webp">
    <img src="./assets/portfolio/k-2so.jpg" alt="K-2SO">
</picture>

<picture>
    <source srcset="./assets/portfolio/princess.webp" type="image/webp">
    <img src="./assets/portfolio/princess.png" alt="Princess">
</picture>
</div>
