<ix-application>
  <ix-application-header slot="application-header" name="LUKAS MAURER ART">
    <app-social></app-social>
  </ix-application-header>
  <ix-menu slot="menu">
    <ix-menu-item icon="pen" routerLink="/work" routerLinkActive="active">Work</ix-menu-item>
    <ix-menu-item icon="info" routerLink="/about" routerLinkActive="active">About</ix-menu-item>
    <ix-menu-item icon="mail" routerLink="/contact" routerLinkActive="active">Contact</ix-menu-item>
  </ix-menu>
  <ix-content>
    <router-outlet></router-outlet>
  </ix-content>
</ix-application>
